<form action="/result" method="POST" style="text-align: center;">
	<input type="text" name="inputURL" class="form-control my-3" placeholder="Input URL here" style="background: #f1f1f1">
	<button class="btn btn-outline-primary btn-lg" type="submit" id="shorten">Shorten</button>
</form>