<p class="my-2">Success! Please use this link:</p>
<a href="http://localhost:3000/{{fiveDigits}}">
	<p id="output">
		http://localhost:3000/{{fiveDigits}}
	</p>
</a>
<button id="copy" class="btn btn-outline-primary btn-lg" data-clipboard-target="#output">Copy</button>
<script>
	const clipboard = new ClipboardJS('.btn');
</script>

