<p class="my-2">Success! Please use this link:</p>
<a href="{{inputURL}}">
	<p>http://localhost:3000/{{fiveDigits}}</p>
</a>
<button class="btn btn-outline-primary btn-lg" type="submit" id="copy">Copy</button>