<p class="my-2">Success! Please use this link:</p>
<a href="http://localhost:3000/{{fiveDigits}}">
	<p id="output">
		http://localhost:3000/{{fiveDigits}}
	</p>
</a>
<button id="copy" class="btn btn-outline-primary btn-lg" onclick="copy()">Copy</button>
 <script>
    function copy() {
      const URL = document.getElementById("output")
      navigator.clipboard.writeText(URL.innerText)
        .then(() => alert('copied'))
        .catch(error => console.log(error))
    }
  </script>